#side-bar {
    -fx-background-color: #030924;
}

.sidebar-button {
    -fx-background-radius: 100%;
}

.sidebar-button:focused {
    -fx-border-radius: 100%;
    -fx-border-insets: -2;
    -fx-border-width: 3;
    -fx-border-color: rgba(255,255,255,1);
}

#sidebar_search_button {
    -fx-background-color: #3949a5;
}

#sidebar_search_button:hover {
    -fx-background-color: white;
}

#sidebar_googletranslate_button {
    -fx-background-color: #fc4769;
}

#sidebar_googletranslate_button:hover {
    -fx-background-color: white;
}

#sidebar_localdictionary_button {
    -fx-background-color: #0e6ce9;
}

#sidebar_localdictionary_button:hover {
    -fx-background-color: white;
}